<%= render "carousel" %>

<div class="d-flex" id="wrapper">
  <div id="sidebar-wrapper">
    <h5 class="font-weight-bold">Styles</h5>
    <% Apparel::STYLES.each do |style| %>
      <div class="list-group-flush">
        <%= link_to style.pluralize, {
          :controller => "apparels", 
          :action => "index",
          :style => style } %>
      </div>
    <% end %>

    <br>

    <h5 class="font-weight-bold">Genders</h5>
    <% Apparel::GENDERS.each do |gender| %>
      <div class="list-group-flush">
        <div class="list-group-flush">
        <%= link_to gender, {
          :controller => "apparels", 
          :action => "index",
          :gender => gender } %>
      </div>
      </div>
    <% end %>
  </div>


  <div class="container">
    <h5 class="text-center">
      Official merchandise by influencers, celebrities and independent artists
    </h5>

    <div class="row">
      <% @apparels.each do |apparel| %>
        <div class="col-md-4">
          <%= link_to apparel do %>
            <div class="card border-light mb-3" style="width: 18rem;">
              <%= image_tag apparel.image_url(:thumb), class: "card-img-top" %>
              <div class="card-body">
                <h6 class="card-title text-center font-weight-bold">
                  <%= apparel.title %>
                  <br>
                  <%= number_to_currency(apparel.price) %>
                </h6>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>