<p id="notice"><%= notice %></p>

<h1>Apparels</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Gender</th>
      <th>Style</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apparels.each do |apparel| %>
      <tr>
        <td><%= apparel.title %></td>
        <td><%= apparel.description %></td>
        <td><%= apparel.gender %></td>
        <td><%= apparel.style %></td>
        <td><%= apparel.price %></td>
        <td><%= link_to 'Show', apparel %></td>
        <td><%= link_to 'Edit', edit_apparel_path(apparel) %></td>
        <td><%= link_to 'Destroy', apparel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apparel', new_apparel_path %>
