<div id="wrapper" class="container">
  <h2 class="font-weight-bold">
    <%= @apparel.title %>
    <% if apparel_author(@apparel) %>
                <%= link_to 'Edit', edit_apparel_path(@apparel), class: "btn btn-outline-secondary" %>
              <% end %>
  </h2>

  <div class="row">
    <div class="col-sm-6">
      <%= image_tag(@apparel.image_url(:thumb)) %>
    </div>

    <div class="col-sm-6">
      <%= number_to_currency(@apparel.price) %> <br>
      <%= @apparel.description %> <br>
      <%= @apparel.gender %> <br>
      <%= button_to 'Add to cart', line_items_path(apparel_id: @apparel), class: "btn btn-primary" %>
    </div> 
  </div>
</div>