<!DOCTYPE html>
<html>
  <head>
    <title>Wardrobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <%# Material icons %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if flash[:notice] %>
    <div class="alert alert-primary">
      <%= notice %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <body>

    <%= render "shared/navbar" %>
    <%# ADD SIDE MENU ADD ICONS TO FOOTER %>
    <%= yield %>
  </body>

  <hr>

  <%= render "shared/footer" %>

</html>
