<!DOCTYPE html>
<html>
  <head>
    <title>Wardrobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/57b42926de.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if flash[:notice] %>
    <div class="notification alert alert-primary">
      <%= notice %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="notification alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>

  <hr>

  <%= render "shared/footer" %>

</html>
